body {
  background-color: #ffff;
}

 header {
  background-color: grey;
  display: flex;
  align-items: center;

 }

 header li {
   list-style: none;
   text-decoration: none;
 }



 #main {
   padding-top: 30px;
   padding-left: 150px;
   size: 100%;
   justify-content: space-between;
   align-items: center;
   max-width: 100px;
   padding-bottom: 30px;

 }

 #main2 {
   display:flex;
   justify-content: space-evenly;
   padding-bottom: 30px;
 }

 #main3  {
   display: flex;
   justify-content: space-evenly;
 }

 #main3 h2 {
  padding-left: 30px;
}

#main3 h2 {
  padding-top: 40px;
  padding-left: 30px;
  font-size: 160%;
}


 #main3 p {
   padding-top: 30px;
   padding-left: 30px;
   font-size: 150%;
   width: fit-content;
 }

 #main3 img {
   padding-top: 40px;
   padding-right: 20px;
   padding-left: 10px;

 }

 button {
 }



